<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cyclic Deployement Test</title>
</head>
<body>
    <h1>This is a node app</h1>
    <img src="https://videostoti.b-cdn.net/videostoti-streaming/short-films/agent_327_operation_barbershop/poster-img/agent_327.jpg" alt="">
    <div style="position:relative;padding-top:56.25%;"><iframe src="https://iframe.mediadelivery.net/embed/179037/685de4a2-c0be-4266-b930-49a5e810d7cc?autoplay=true&loop=false&muted=false&preload=true" loading="lazy" style="border:0;position:absolute;top:0;height:100%;width:100%;" allow="accelerometer;gyroscope;autoplay;encrypted-media;picture-in-picture;" allowfullscreen="true"></iframe></div>
</body>
</html>
